:root {
 --text-primary-color: #2196f3;
 --text-secondary-color: #212121;
 --text-tertiary-color: #757575;
 --text-quaternary-color: rgba(255, 255, 255, 0.6);
 --theme-primary-color: #2f303a;
 --theme-secondary-color: #e5e5e5;
 --theme-tertiary-color: #f5f4fa;
}

*,
*::before,
*::after {
 box-sizing: border-box;
}

.main-request-our-service-section {
 background-color: #2f303a;
 align-items: center;
 justify-content: center;
 height: 600px;
}

.main__section-cta {
 color: #ffffff;
 background-color: var(--theme-primary-color);
 padding: 200px 452px 280px 452px;
}

/* MAIN REQUEST OUR SERVICES SECTION */
.main-request-our-service-section-tittle {
 font-weight: 900;
 font-size: 44px;
 line-height: 1.3;
 text-align: center;
 letter-spacing: 0.06em;
 text-transform: uppercase;
 padding: 200px 0;
 color: #ffffff;
 width: 100%;
}

.main-request-our-service-section-btn {
 color: #ffffff;
 background: #2196f3;
 padding: 10px 32px;
 display: flex;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 4px;
 border: 0;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 position: absolute;
 left: 666px;
 top: 430px;
}

.main-request-our-service-section-btn:hover {
 background-color: #2094f3da;
 cursor: pointer;
}

/* MAIN BENEFITS SECTION */

.benefits-list-item {
 list-style: none;
}

.benefits-tittles-section {
 font-weight: 700;
 line-height: 16px;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color: #212121;
 text-decoration: none;
 margin: 30px 30px;
 margin-top: 95px;
}

.benefits-paragraph-section {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 24px;
 /* or 171% */
 letter-spacing: 0.03em;
 color: #757575;
 margin: 30px 30px;
 margin-bottom: 95px;
}

/* MAIN WHAT WE DO SECTION */

.main-what-we-do-section {
 background-color: #ffffff;
 align-items: center;
 justify-content: center;
}

.main-section-what-we-do-tittle,
.main-section-our-team-tittle {
 font-weight: 700;
 font-size: 36px;
 line-height: 42px;
 text-align: center;
 letter-spacing: 0.03em;
 text-decoration: none;
 color: #212121;
}

.main-what-we-do-image {
 display: flex;
}

.main-what-we-do-list-item {
 list-style: none;
}

.main-what-we-do-list-item-image {
 margin-right: 30px;
}

.main-section-what-we-do-tittle,
.main-section-our-team-tittle {
 text-align: center;
 font-size: 36px;
 font-weight: 700;
 line-height: 42px;
 margin-bottom: 50px;
}

/* MAIN OUR TEAM SECTION */

.main-our-team-section {
 background-color: var(--theme-tertiary-color);
 text-decoration: none;
 padding-bottom: 94px;
}
.main-section-our-team-list {
 align-items: center;
 display: flex;
 justify-content: center;
}

.main-section-our-item {
 list-style: none;
 text-align: center;
}

.card {
 background-color: #ffffff;
 border-radius: 0px 0px 4px 4px;
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
 margin-right: 30px;
}

.main-section-team-member-title {
 color: var(--text-secondary-color);
 font-size: 16px;
 font-weight: 500;
 line-height: 18px;
 margin-top: 30px;
 margin-bottom: 10px;
}

.main-section-team-member-text {
 color: var(--text-tertiary-color);
 font-size: 16px;
 font-weight: 400;
 margin-bottom: 30px;
}
