* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

*,
*::before,
*::after {
 box-sizing: border-box;
}

body {
 font-family: 'roboto', sans-serif;
 font-style: 'normal';
 font-weight: 400;
 font-size: 14px;
}

h1,
h2,
h3,
ul,
p {
 margin: 0;
 padding: 0;
}

.container {
 margin: 0 auto;
 max-width: 1200px;
}

.section {
 padding: 94px 0;
}

/* HEADER SECTION */

.header-menu {
 border-bottom: 1px solid #ececec;
 padding: 24px 0;
}

.header-menu-container {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.header-menu-pages-links {
 display: flex;
}

.header-menu-pages-item {
 list-style: none;
 margin-right: 50px;
}

.header-tittle {
 font-family: 'Raleway';
 font-style: normal;
 font-weight: 700;
 font-size: 26px;
 line-height: 31px;
 text-align: right;
 color: #2196f3;
 text-decoration: none;
 margin-right: 93px;
}

.header-menu-pages-link {
 font-weight: 500;
 line-height: 16px;
 letter-spacing: 0.02em;
 text-decoration: none;
 color: #212121;
 list-style: none;
}

.header-menu-pages-link:hover {
 color: #2196f3;
}

.header-menu-contact-links {
 display: flex;
}

.header-menu-contact-link {
 margin-left: 50px;
 list-style: none;
}

.header-menu-email {
 font-weight: 500;
 line-height: 16px;
 letter-spacing: 0.02em;
 text-decoration: none;
 color: #212121;
}

.header-menu-email:hover {
 color: #2196f3;
}
.number {
 font-weight: 500;
 line-height: 16px;
 letter-spacing: 0.02em;
 text-decoration: none;
 color: #757575;
}

.number:hover {
 color: #2196f3;
}

nav,
.list-style,
.benefits-list,
.what-list,
.team-list,
.button-list,
.image-list {
 display: flex;
}

nav {
 align-items: center;
}

/* FOOTER SECTION */

.footer-about-us {
 background-color: var(--theme-primary-color);
 padding: 60px;
 list-style: none;
}

.footer-section-about-us {
 padding: 60px auto;
}

.footer-section-item {
 margin-bottom: 2px;
 list-style: none;
}

.footer-about-us-item {
 margin-bottom: 2px;
 list-style: none;
}

.footer-section-web-studio {
 color: var(--text-primary-color);
 font-family: 'Raleway', sans-serif;
 font-size: 26px;
 font-weight: 700;
 text-decoration: none;
}

.footer-about-us-maint-titlle-text {
 line-height: 30px;
 margin-bottom: 10px;
}

.footer-about-us-maint-titlle-text {
 font-family: 'Raleway';
 font-weight: 700;
 font-size: 26px;
 line-height: 31px;
 /* identical to box height */
 letter-spacing: 0.03em;
 cursor: pointer;
 color: #2196f3;
 padding-top: 24px;
 padding-bottom: 25px;
 margin-right: 93px;
 text-decoration: none;
}

.about__us-footer-text,
.footer-about-us-link {
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
}

.about__us-footer-text {
 color: #ffffff;
}

..footer-about-us-link {
 color: var(--text-quaternary-color);
 text-decoration: none;
 line-height: 24px;
}

.about__us-footer-text:hover,
.footer-about-us-link:focus {
 color: var(--text-primary-color);
}
